<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:minWidth="25px"
    android:minHeight="25px"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#003767"
    android:id="@+id/relativeLayout1">
    <ImageView
        android:id="@+id/registerAction"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentTop="true"
        android:src="@drawable/Sheridan_pattern"
        android:adjustViewBounds="true"
        android:scaleType="centerCrop" />
    <TextView
        android:text="Campus"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_marginTop="75px"
        android:textColor="#FFFFFF"
        android:textStyle="bold"
        android:gravity="center_horizontal"
        android:id="@+id/textView1" />
    <FrameLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="80.0dp"
        android:background="@layout/roundedFrame"
        android:layout_centerHorizontal="true">
        <Switch
            android:layout_width="217.0dp"
            android:layout_height="wrap_content"
            android:id="@+id/switchHMC"
            android:text="HMC"
            android:textStyle="bold"
            android:textColor="#FFFFFF"
            android:textSize="24dp"
            android:layout_centerHorizontal="true"
            android:checked="true" />
        <Switch
            android:layout_width="217.0dp"
            android:layout_height="wrap_content"
            android:id="@+id/switchDavis"
            android:layout_marginTop="60.0dp"
            android:text="Davis"
            android:textStyle="bold"
            android:textColor="#FFFFFF"
            android:textSize="24dp"
            android:layout_centerHorizontal="true"
            android:checked="true" />
        <Switch
            android:layout_width="217.0dp"
            android:layout_height="wrap_content"
            android:id="@+id/switchTrafalgar"
            android:layout_marginTop="120.0dp"
            android:text="Trafalgar"
            android:textColor="#FFFFFF"
            android:textStyle="bold"
            android:textSize="24dp"
            android:layout_centerHorizontal="true"
            android:checked="true" />
    </FrameLayout>
    <Button
        android:text="Credits"
        android:layout_width="475px"
        android:layout_height="100px"
        android:id="@+id/Credits"
        android:textColor="#FFFFFF"
        android:textSize="20dp"
        android:layout_centerHorizontal="true"
        android:background="@layout/roundedFrame"
        android:layout_marginTop="260.0dp" />
</RelativeLayout>