<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="#FFFFFF">
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/scrollView1">
        <FrameLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/frameLayout1">
            <android.webkit.WebView
                android:layout_width="match_parent"
                android:layout_height="250dp"
                android:id="@+id/Video" />
            <TextView
                android:text="Small Text"
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="270dp"
                android:layout_marginLeft="10dp"
                android:textColor="#000000"
                android:id="@+id/Time" />
<<<<<<< HEAD
=======
            <TextView
                android:text="Medium Text"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="300dp"
                android:layout_marginLeft="10dp"
                android:textSize="18dp"
                android:textColor="#000000"
                android:id="@+id/Info" />
>>>>>>> 71b882a17e68ceb957980780a6bf72f31847499d
            <android.webkit.WebView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="300dp"
                android:id="@+id/Links" />
        </FrameLayout>
    </ScrollView>
</LinearLayout>