<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:gridSpec="1|100|#0093eeff|K:#ff0000ff:200,l:200,r:400,t|S:#83ee00ff:">
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/scrollView1">
        <GridLayout
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:columnCount="2"
            android:id="@+id/gridLayout1"
            android:background="#FFFFFF"
            android:layout_gravity="center_horizontal">
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AA"
                    android:id="@+id/imageButton1"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Welcome"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView1"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AB"
                    android:id="@+id/imageButton2"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Finance"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AC"
                    android:id="@+id/imageButton3"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Registration"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView1"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AD"
                    android:id="@+id/imageButton4"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Housing"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AE"
                    android:id="@+id/imageButton5"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Transportation"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView1"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AF"
                    android:id="@+id/imageButton6"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Health"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AG"
                    android:id="@+id/imageButton7"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Student Services"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView1"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AH"
                    android:id="@+id/imageButton8"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Food"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AI"
                    android:id="@+id/imageButton9"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="Onecard"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
            <FrameLayout
                android:layout_width="400dp"
                android:layout_height="wrap_content">
                <ImageButton
                    android:src="@drawable/AJ"
                    android:id="@+id/imageButton10"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:adjustViewBounds="true"
                    android:scaleType="centerCrop"
                    android:background="#FFFFFF" />
                <TextView
                    android:text="IT Support"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/textView2"
                    android:textColor="#003767"
                    android:textStyle="bold"
                    android:layout_marginTop="300dp"
                    android:textSize="36dp"
                    android:gravity="center" />
            </FrameLayout>
        </GridLayout>
    </ScrollView>
</LinearLayout>